In [6]:
print("Q1: Print numbers 1 to n using while loop")
n=1
while(n>0):
    print(n)
    n+=1

Q1: Print numbers 1 to n using while loop
1
2
3
4
5
6
7
8
9

In [5]:
print("Q2: Print Even and Odd Series")
n=0
while(n>-1):
    if(n%2==0):
        print("Even",n)
    else:
        print("odd ",n)
    n=n+1
    if(n==10):
        break

Q2: Print Even and Odd Series
Even 0
odd  1
Even 2
odd  3
Even 4
odd  5
Even 6
odd  7
Even 8
odd  9

In [17]:
print("Q3: Print natural numbers in reverse")
no=int(input("Enter Number "))
no=no+1
for a in reversed(range(1,no)):
    print(a)

Q3: Print natural numbers in reverse
Enter Number 33
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [26]:
print("Q4: Program to find Fictorial")
no=int(input("Enter Number"))
temp=1
while(no>=1):
    temp=temp*no
    no=no-1
print(temp)

Q4: Program to find Fictorial
Enter Number7
5040

In [30]:
print("Q6: Progam to tell leap year")
year=int(input("Enter a Year "))
if(year%4==0):
    print("This",year,"is leap year")
else:
    print("This",year,"is not leap year")

Q6: Progam to tell leap year
Enter a Year 2019
This 2019 is not leap year

In [36]:
import statistics
print("Q7: Program to calculate Variance, Standard Daviation, Mean")
Sample=[2,41,5,3,32,.9,55]
print("Mean",round(statistics.mean(Sample),3))
print("Standard Daviation",round(statistics.stdev(Sample),3))
print("Variance",round(statistics.variance(Sample),3))

Q7: Program to calculate Variance, Standard Daviation, Mean
Mean 19.843
Standard Daviation 22.408
Variance 502.106

In [41]:
print("Q8: Program to print Table")
no=int(input("Enter Table no "))
n=1
while(n<=10):
    print(no,"x",n,"=",no*n)
    n=n+1

Q8: Program to print Table
Enter Table no 88
88 x 1 = 88
88 x 2 = 176
88 x 3 = 264
88 x 4 = 352
88 x 5 = 440
88 x 6 = 528
88 x 7 = 616
88 x 8 = 704
88 x 9 = 792
88 x 10 = 880